*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: whitesmoke;
}

#loginbtn{
  border-radius: 10px;
  padding: 0px 25px;
}

#jobScroll{
  margin: 6px 0px;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.navbarmain{
  background-color:#404c6c;
  box-shadow: 0px 0px 5px gray;
  color: white;
}

#aboutmeBtn{
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: inherit;
}

#aboutmeBtn:hover{
  color: rgb(255, 177, 32);
}

.modalHeader{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 3px;
  background: #404c6c;
  color: white;
}

.modalHeader i{
  color: white;
}

.navHead{
  font-size: 24px ;
}

.navBtn{
  font-size: 18px;
  color: white;
  transition: all 0.2s ease;
}
.navBtn:hover{
  color: rgb(255, 177, 32);
  transform: scale(1.2);
}

.button {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid #979797;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: black;
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #84c447;
}

.button:hover:before {
  top: -35%;
  background-color: #84c447;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #84c447;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* maincontainer */

.jobContainerHeader{
  margin: 20px auto;
  width: 85%;
  padding: 10px 15px;
  background-color: #404c6c;
  box-shadow: 1px 1px 3px gray;
  border-radius: 8px;
  color: white;
  border: 1px solid black;
}

#jobContainer{
  width: 85%;
  margin: 40px auto;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0px 0px 3px black;
}

.jobCard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px auto;
  border: 1px solid #dfdfdf;
  padding: 10px 15px;
  gap: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px rgb(188, 188, 188);
}

.jobCardC{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.jobcardA{
  width: 65%;
  text-align: justify;
}

.jobCardBtn{
  float: right;
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.2s ease;
}


.jobCardBtn:hover{
  border: 1px solid #54af00;
  color: #54af00;
  background: white;
  font-weight: 600;
  transform: scale(1.1);
}

.jobcardhead{
  border: 1px solid black;
  background-color: #404c6c;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.jobcardheading{
  font-size: 17px;
  display: inline-block;
  font-weight: 600;
}

li{
  list-style: none;
}

/* footer */

.footer{
  display: flex;
  background-color: #404c6c;
  color: white;
  box-shadow: 0px 0px 5px gray;
}

.footerA{
  margin: 40px 50px;
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.vr{
  width: 2px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.6;
  margin-top: 35px;
  height: 260px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
}

.footerB{
  margin: 20px auto;
  width: 30%;
}

.contactForm{
  background: transparent;
  border: 1px solid rgba(197, 197, 197, 0.499);
  padding: 10px 20px;
  border-radius: 10px;
  height: 280px;
}

.labelHead{
  height: 25px;
  width: 100px;
  text-align: right;
}

.labelBody{
  background-color: whitesmoke;
  width: 65%;
  margin: 5px;
  border-radius: 5px;
  padding: 3px 10px;
}

.contactformMsg{
  display: flex;
  align-items: center;
  gap: 5px;
}

.contactSubmitBtn{
  margin-top: 8px;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

#contactSubmitBtn{
  background-color: rgb(219, 143, 1);
  color: white;
}

.msgSent{
  display: none;
  margin-left: 43px;
  text-align: center;
  color: #8ce23b;
}

.errorMsgContainer{
  width: 100%;
  height: 332px;
  display: flex;
  justify-content: center;
  align-items: center;
}